.primero{
    color: #b902b9;
    font-size: 1.5em;
}
.texto{
    font-family: cursive;
    font-size: 1.5em;
    width: 900px;
    text-align: center;
    margin-left: 300px;
}
.segundo{
    color: white;
}
